.DS_Store
*.png_reject.png
/dist/
/build/
*.wav
*.mp3
.vscode
SPR.cd
maps.s
output.map
palettes.s
test.o
test.prg
as.exe.stackdump
*.o
*.prg
samples/neocore_migration_sample_1_0_0
samples/neocore_migration_sample_1_0_2
samples/neocore_migration_sample_2_0_0
samples/neocore_migration_sample_2_9_0
samples/neocore_migration_sample_3_0_0-rc1
samples/ngcd-flamble-003
samples/**/out/fix.bin
samples/**/out/char.bin
synchro.sh
synchro.bat
console_history