.DS_Store
*.png_reject.png
dist/
build/
*.wav
*.mp3
.vscode
SPR.cd
char.bin
maps.s
output.map
palettes.s
test.o
test.prg
externs.h
as.exe.stackdump
*.o
*.prg
samples/ngcd-flamble-003
samples/ngcd-music-disk
samples/geowave