.DS_Store
*.png_reject.png
/dist/
/build/
*.wav
*.mp3
.vscode
SPR.cd
char.bin
maps.s
output.map
palettes.s
test.o
test.prg
as.exe.stackdump
*.o
*.prg
neocore_migration_sample_1_0_0
neocore_migration_sample_1_0_2
neocore_migration_sample_2_0_0
samples/ngcd-flamble-003
samples/**/out/fix.bin
samples/**/out/char.bin
synchro.sh